@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#interface{
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
    .container{
        width: 100%;
        min-height: 100vh;
        background: #5c539d;

        h2{
            color: white;
            font-size: 32px;
            padding: 50px 0;
            text-align: center;
        }
    }

    .price-row{
        width: 90%;
        max-width: 1100px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
        grid-gap: 25px;
    }

    .price-col{
        background: #1f283b;
        padding: 10% 15%;
        border-radius: 10px;
        color: #fff;
        text-align: center;
        p{
            font-size: 22px;
        }
        h3{
            font-size: 44px;
            margin: 20px 0 40px;
            font-weight: 500;
            span{
                font-size: 16px;
            }
        
        }
        ul{
            text-align: left;
            margin: 20px 0;
            color: #ddd;
            li{
                margin: 15px 0;
            }
        }
    }
}
a.logo-cta{
    text-decoration: none;
    cursor: auto;
    font-weight: bold;
    color: rgb(250, 246, 246);
    font-size: 2em;
    margin: 10px 0 0 34px;
    

    span{
        color:rgb(46, 214, 243);
    }
}

#menu{
    background: #111827;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#menu .logo{
    padding:50px 0 0 0;
}

#menu .items{
    margin-top: 40px;

    li{
        list-style: none;
        padding: 15px 0;
        transition: 0.3s ease;

        i{
            color: rgb(124, 124, 124);
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 14px;
            margin: 0 10px 0 25px;
        }

        a{
            text-decoration: none;
            color: rgb(134, 141, 151);
            font-weight: 300px;
            transition: 0.3s ease;
        }
    }
}

//hover efect
#menu .items li:hover{
     background: #253047;
     cursor: pointer;
}

#menu .items li:nth-child(4){
    border-left: 4px solid #fff;
}

#menu .items li:hover i, #menu .items li:hover a{
    color: #f3f4f6;
}