@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Poppins';
    background-color: rgb(157, 183, 190);
}

.head{
    background-image: url('../image/publisher.jpg');
    padding: 5em 4em 5em 3em;

    h1{
        font-size: 3em;
        color: rgb(122, 216, 240);
    }
}

section.publisher-feature{
    ul{
        text-decoration: none;
        margin: 2em;
        li{
            list-style-type: none;
            margin: 2em;
            a{
                text-decoration: none;
                text-align: center;
                color:rgb(8, 8, 8);   
                font-size: 1em;
                display: block;
                border: .2em solid rgb(94, 76, 76);
                border-radius: 2em;
                padding: .4em;

                &:hover{
                    font-weight: bold;
                }
            }
        }
    }
}